# dependencies
app/static/node_modules
node_modules

# testing
app/static/coverage

# pycache
app/server/__pycache__

# production
app/static/dist
app/static/build

# misc
app/static/package-lock.json
package-lock.json
/.vscode

src/npm-debug.log*
app/static/npm-debug.log*
app/static/yarn-debug.log*
app/static/yarn-error.log*

#environment variable
app/server/.env
